header {
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  display: flex;
}

header h1 {
  flex: 1;
}

.authenticated {
  text-align: right;
  align-self: flex-end;
  flex: 1;
}

main {
  margin: 20px;
}

.tweet {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.user {
  font-weight: bold;
  flex: 0 0 10%;
}

.timestamp {
  color: gray;
  flex: 0 0 30%;
}

.text {
  flex: 0 0 100%;
}
